.Tree{
   font-size: 1rem;
   color: rgb(53, 53, 53);
}

.Folder{
   padding-left: 10px;
}

.Folder .Title{
   background-color: white;
   min-height: 2rem;
   display: grid;
   grid-template-columns: auto auto 1fr;
   align-items: center;
   border-radius: 5px;
   padding: 3px 10px;
   margin: 2px 0;

   cursor: default;
}

.Folder .Title.Active{
   background-color: #08C75150;
}


.Folder .Title span{
   line-height: 1.4;
   margin-left: 5px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   /* number of lines to show */
   -webkit-line-clamp: 3; 
   -webkit-box-orient: vertical;
   white-space: pre-wrap;
   word-wrap: break-word;
}

.Folder .Title:not(.Active):hover,
.Folder .Title:not(.Active):focus{
   background-color: #08C75120;
}

.Collapse{
   height: 0;
   overflow-y: hidden;
   transform: scaleY(0);
   transform-origin: top;
   transition: all .1s ease-out;
}

.Collapse.Active{
   height: 100%;
   transform: scaleY(1);
}

.IconExpand{
   font-size: 1rem;
   height: 1.5rem;
   width: 1.5rem;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 3px;
   margin-right: 3px;
}

.IconExpand.HasChildren:hover{
   box-shadow: 0 1px 5px rgba(160, 160, 160, 0.789);
}

.IconExpand .Icon{
   transform: rotate(0deg);
   transition: transform .2s ease-in;
}

.IconFolder{
   font-size: 1.2rem;
   color: rgb(14, 14, 14);
}

/* .IconExpand.Active{
   transform: rotateX(90deg);
} */