.App {
  width: 500px;
  max-width: 90vw;
  margin: 0 auto;
}

.Tree{
  padding: 10px;
  border-radius: 10px;

  box-shadow: 0 5px 12px -4px #00000040;
}

.SelectedFolder{
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 3px 12px inset #0000001a;

}

.SelectedFolder > span {
  color: grey;
}
